
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');


*{
  font-family:  'Oswald', sans-serif;
  margin: 0;
  padding: 0;

}
th {

  font-weight: 500;

}

.bg-custom{
  background: rgb(1,1,6);
background: linear-gradient(0deg, rgba(1,1,6,1) 0%, rgba(0,0,0,1) 70%, rgba(5,76,91,1) 100%);
}
.root{
  min-height: 100vh;
}
h2{
  box-shadow: -5px -2px 18px 5px rgba(255,255,255,0.72);
  -webkit-box-shadow: -5px -2px 18px 5px rgba(255,255,255,0.72);
  -moz-box-shadow: -5px -2px 18px 5px rgba(255,255,255,0.72);
 

}
